# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
dist

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# local/tooling
.cache
.config
.npm
.pki
.tmp
bin
.sudo_as_admin_successful
uploads

*.zip
